/* CSS Document */
*{padding:0; margin:0}
header{background-color:#363f48; width:100%; height:87px; overflow:hidden}
a{ text-decoration:none; display:inline-block;}
ul{list-style:none}
#logo{height:80px; width:8%;  float:left}
#logo img{width:73px; margin-top:5px; margin-left:20px; height:75px}
header ul{width:60%; float:left; height:38px; margin-top:25px}
header .text{width:23%; float:left; }
header ul li{display:inline-block; height:38px; }
header ul li a{color:#82878d; width:100%; line-height:38px; font-size:20px; text-align:center; padding:0 18px}
header ul li a:hover{background-color:#333333; color:#FFF}
header .text{padding-top:20px; float:right}
header .text input{height:33px; border:1px solid #009dda; width:250px; border-radius:4px}
header .text img{position:relative; top:12px; left:-50px; width:32px; height:32px}
header .dl{width:8%; float:left; height:80px; padding-top:8px; text-align:center; float:right}
.dl button{border-radius:50%; width:51px; height:51px}
.dl p{font-size:14px; color:#FFF}
footer{width:100%; height:91px; background-color:#363f48; text-align:center; color:#FFF; padding-top:50px}
footer p{font-size:13px}
section{height:1000px; width:100%; background-color:#f2f2f2; overflow:hidden}
section .left{width:745px; background-color:#FFF; float:left; margin-top:60px; margin-left:60px; border-radius:4px; border:1px solid #cccccc; padding-bottom:20px}
section .right{width:346px; height:570px; background-color:#36F; float:right; margin-top:60px; margin-right:60px; border-radius:4px; border:1px solid #cccccc}
section .left .top{width:100%; border-bottom:1px solid #797979; height:50px}
section .left .top p{width:65px; font-size:16px; line-height:50px; margin-left:25px}
section .left .below{overflow:hidden;}
section .left .below .l{height:750px; width:221px; border-right:1px solid #797979; float:left; margin-top:15px;  text-align:center}
#localImag img{width:137px; height:137px}
.a-upload {
    height: 20px;
    position: relative;
    cursor: pointer;
    color:#000;
    background: #fafafa;
    border-radius: 4px;
    display: inline-block;
	width: 91px;
    height: 30px;
    line-height: 30px;
	font-size: 13px;
	background-color: #169bd5;
	color:#FFF;
	margin-top:10px;
   
}
.a-upload  input {
    opacity: 0;
   	position: absolute;
	 right: 0;
    top: 0;
}
.below .dr{width:37px; height:46px; float:left; font-size: 18px; margin-left:30px; margin-top:20px; margin-left:50px; margin-right:15px}
.g{float:left;height:46px; border-left:1px solid #797979; margin-top:20px}
.below .dx{width:41px; height:46px; float:left; font-size: 18px; margin-top:20px; margin-left:15px}
.below textarea{width:176px; height:170px; margin-top:35px; border:1px solid #797979;}
.below .l button{width:91px; height:30px; background-color:#169bd5; border:none; border-radius:4px; margin-top:10px; font-size:13px; color:#FFF}
section .left .below .r{float:left; width:510px}
section .left .below .r .t{width:510px;  height:50px; border-bottom:1px solid #797979;}
.r .t .a{width:123px; font-size:13px; height:33px; text-align:center; float:left; margin-left:10px; line-height:33px;border-bottom: 1px solid #fff; border-top: 1px solid #797979; border-left: 1px solid #797979; border-right: 1px solid #797979;position: relative;top: 17px;}
.r .t .b{font-size:14px; color:#258ec2; float:right; width:29px; height:20px; position: relative;top:23px;}
form{margin-top:25px; margin-left:30px}
form .input-control{font-size:14px; margin-bottom:25px}
form .input-control input{width:300px; height:25px; margin-left:20px; border:none; border:1px solid #cccccc;}
form .input-control select{margin-left:15px; width:71px; height:22px;  border:none; border:1px solid #cccccc;}
form button{width:91px; height:30px; background-color: #169bd5; color:#FFF; border:none; border-radius:4px; margin-left:150px}