
section{min-height:700px; background-color:#f2f2f2; overflow:hidden; padding-bottom:20px}
section .inner{width:1243px; margin:0 auto; padding-top:15px}
section .inner p{font-size:16px}
.inner .left{float:left; width:150px; min-height:660px; border-right:1px solid #797979; margin-left:10px}
.inner .left .t{border-bottom:1px solid #797979; margin-top:23px; height:20px; width:113px}
.inner .left .t p{font-size:14px; float:left; margin-left:5px}
.inner .left .c .p1{font-size:14px; margin-top:5px; margin-left:10px; float:left; margin-bottom:5px}
.inner .left .c .p2{font-size:14px; margin-top:5px; margin-left:10px; clear:both}
.inner .left .c img{width:12px; height:12px;}
.inner .left .c .add{width:12px; height:12px; position:relative; top:10px}
.ad{display:block; margin-top:5px;}
.inner .left .c .lb li{font-size:14px}
.inner .left .c .lb li a{color:#000; width:100%; margin:3px 0px}
.center{width:769px;border-right:1px solid #797979; float:left; min-height:660px;}
.center .inn{width:660px; margin:0 auto; padding-top:40px; overflow:hidden; padding-bottom:10px}
.center .title{color:#2d92c4; font-size:16px;}
.center .time{font-size:14px; color:#949494; margin-top:5px}
.inn #content{font-size:13px; margin-top:20px}
.inn .l{height:17px; width:45%; margin-top:10px; float:left}
.inn .l span{font-size:12px}
.inn .r{ width:50%; height:17px; float:right; margin-top:10px;}
.inn .r span a{font-size:12px; color:#000}
.inn .r span img{width:16px; height:16px; position:relative; top:3px; margin-right:5px}
.comment-list{margin-top:40px}
.comment-box{ overflow:hidden;margin-left:30px;padding-top:20px}
.comment-box .myhead { float: left; width: 51px; height: 51px; margin-right: 10px; border-radius:50%}
.comment-box .comment-content { float: left; width: 400px;}
.comment-box .comment-content .comment-text{font-size:15px}
.comment-box .comment-content .comment-time{font-size:15px}
.comment-box .comment-content .comment-operate {color: #369; height: 20px;  position: absolute; bottom: 0px; right: 10px;}
.comment-box .comment-content .comment-time { color:#000; margin-top: 3px; line-height: 16px; position: relative;}

.text-box{ overflow:hidden; margin-left:30px; margin-top:10px;}
.text-box .comment { border: 1px solid #eee; display: block; height: 15px; width: 428px; padding: 5px; resize: none; color: #ccc}
.text-box .btn { font-size: 12px; font-weight: bold; float: right; width: 65px; height: 25px; border: 1px solid #0C528D; color: #fff; background: #4679AC; margin-right:300px; margin-top:10px}
.text-box .btn-off { border: 1px solid #ccc; color: #ccc; background: #F7F7F7;}
.text-box-on .comment{ height: 50px; color: #333;}
.text-box .word{ float: right; margin: 7px 10px 0 0; color: #666; margin-top:13px}
.text-box-on .btn{ display: inline;}
.text-box-on .word{ display: inline;}

.right{float:left; width:265px; min-height:337px; border:1px solid #cccccc; margin-top: 10px;margin-left: 30px; background-color:#FFF}
.right .top{border-bottom:1px solid #cccccc; height:65px; width:190px; margin:0 auto}
.right .top .n{font-size:14px; color:#333333}
.right .top span{position:relative; top:30px}
.right ul{width:190px; margin:0 auto; padding-bottom:10px; list-style:outside}
.right ul li{font-size:14px; margin-top:10px}
.right ul li a{color:#000}
footer{width:100%; height:100px; background-color:#363f48; text-align:center; color:#FFF; padding-top:50px}
footer p{font-size:12px}
