/* CSS Document */
*{padding:0; margin:0}
#localImag img{width:320px; height:300px}
header{background-color:#363f48; width:100%; height:87px; overflow:hidden}
a{ text-decoration:none; display:inline-block;}
ul{list-style:none}
#logo{height:80px; width:8%;  float:left}
#logo img{width:73px; margin-top:5px; margin-left:20px; height:75px}
header ul{width:60%; float:left; height:38px; margin-top:25px}
header .text{width:23%; float:left; }
header ul li{display:inline-block; height:38px; }
header ul li a{color:#82878d; width:100%; line-height:38px; font-size:20px; text-align:center; padding:0 18px}
header ul li a:hover{background-color:#333333; color:#FFF}
header .text{padding-top:20px; float:right}
header .text input{height:33px; border:1px solid #009dda; width:250px; border-radius:4px}
header .text img{position:relative; top:12px; left:-50px; width:32px; height:32px}
header .dl{width:8%; float:left; height:80px; padding-top:8px; text-align:center; float:right}
.dl button{border-radius:50%; width:51px; height:51px}
.dl p{font-size:14px; color:#FFF}
#search{background-image:url(../img/bg.jpg); width:100%; height:50px; }
.below{height:50px; padding-left:430px;}
.below button{height:31px; border-radius:4px; border:none; margin-left:10px; margin-top:10px;background-color:#5e5e5e}
.below button a{padding:0 10px; font-size:5px; line-height:31px; color:#FFF}
.below button a:hover{background-color:#333333}
section{background-color:#f2f2f2; min-height:570px; position:relative}
.inner{width:90%; margin:0 auto; overflow:hidden; padding-bottom:10px}
.top .left{float:left; margin-top:20px}
.inner .top{overflow:hidden}
.inner .top .left img{width:83px; height:81px;}
.inner .top .left .r{float:right; margin-left:20px; padding-top:10px}
.inner .top .left .r .name{font-size:20px}
.top .left .r .num{font-size:14px; margin-top:20px}
.top .left .r .num span{color:#999999}
.top .right{float:right; margin-top:40px}
.top .right div{float:left; padding:0 10px}
.top .right div p{font-size:18px}
.top .right div .num{color:#999999}
.top .right .pl{border-left:1px solid #797979; border-right:1px solid #797979}
.inner .picture_left{float:left}
.top_picture{margin-top:20px}
.top_picture img{width:734px; height:519px}
.below_picture{position:relative; right:25px}
.below_picture img{width:131px; height:96px; margin-left:10px}
.slider-pre img{width:71px; height:128px; position:relative; top:15px}
.slider-next img{width:71px; height:128px;  position:relative; top:15px}
.inner .pl_r{float:left}
.pl_r{width:400px}
.pl_r .inn{width:90%; margin:0 auto}
.pl_r .t img{width:70px; height:63px;}
.pl_r .t .r{float:right; margin-right:120px; padding-top:10px}
.pl_r .t .r .name{font-size:14px}
.pl_r .t .r .time{font-size:14px; margin-top:10px; color:#999999}
.comment-list{ margin-top:20px; overflow:hidden}
.comment-box { padding: 10px 0; border-top: 1px solid #eee;}
.comment-box .comment-content { float: left; width: 400px; }
.comment-box .comment-content .comment-time { color: #ccc; margin-top: 3px; line-height: 16px; position: relative;}
.comment-box .comment-content .comment-operate { display:none; color: #369; height: 20px;  position: absolute; bottom: 0px; right: 80px;}
.comment-box .comment-content:hover .comment-operate { display: inline-block;}
.text-box{display:none}
.text-box .comment { border: 1px solid #82878d; display: block; height: 127px; width: 326px; padding: 5px; resize: none; color: #ccc; border-radius:4px; margin-top:50px}
.text-box .btn { font-size: 13px; font-weight: bold; display: block; float: right; width: 71px; height: 29px; border:none; color: #fff; background: #4679AC; background-color:#169bd5; border-radius:4px; margin-right:25px; margin-top:20px}
.text-box .btn-off { border: 1px solid #ccc; color: #ccc; background: #F7F7F7;}
.text-box .word{ display: none; float: right; margin: 7px 10px 0 0; color: #666; margin-top:25px}
.text-box-on .comment{ height: 127px; color: #333;}
.text-box-on .btn{ display: inline;}
.text-box-on .word{ display: inline;}
.praise{font-size:14px; color:#000; position:relative; top:20px}
.praise img{width:20px; height:20px; position:relative; top:5px; margin-right:5px}
footer{width:100%; height:100px; background-color:#363f48; text-align:center; color:#FFF; padding-top:50px}
footer p{font-size:12px}




