/* CSS Document */
*{padding:0; margin:0}
header{background-color:#363f48; width:100%; height:87px; overflow:hidden}
a{ text-decoration:none; display:inline-block;}
ul{list-style:none}
#logo{height:80px; width:8%;  float:left}
#logo img{width:73px; margin-top:5px; margin-left:20px; height:75px}
header ul{width:60%; float:left; height:38px; margin-top:25px}
header .text{width:23%; float:left; }
header ul li{display:inline-block; height:38px; }
header ul li a{color:#82878d; width:100%; line-height:38px; font-size:20px; text-align:center; padding:0 18px}
header ul li a:hover{background-color:#333333; color:#FFF}
header .text{padding-top:20px; float:right}
header .text input{height:33px; border:1px solid #009dda; width:250px; border-radius:4px}
header .text img{position:relative; top:12px; left:-50px; width:32px; height:32px}
header .dl{width:8%; float:left; height:80px; padding-top:8px; text-align:center; float:right}
.dl button{border-radius:50%; width:51px; height:51px}
.dl p{font-size:14px; color:#FFF}
footer{width:100%; height:91px; background-color:#363f48; text-align:center; color:#FFF; padding-top:50px}
footer p{font-size:13px}
section{background-color:#f2f2f2; min-height:700px}
section .inner{width:1243px; margin:0 auto; padding-top:15px}
section .inner p{font-size:16px}
.inner .left{float:left; width:235px; min-height:660px; border-right:1px solid #797979; margin-left:20px}
.inner .left .t{border-bottom:1px solid #797979; margin-top:23px; height:20px; width:222px}
.inner .left .t p{font-size:14px; float:left; margin-left:5px}
.inner .left .t a{font-size:13px; float:right; color:#4099d7; position:relative; top:3px}
.inner .left .c .p1{font-size:14px; margin-top:5px; margin-left:10px; float:left; margin-bottom:5px}
.inner .left .c .p2{font-size:14px; margin-top:5px; margin-left:10px; clear:both}
.inner .left .c img{width:12px; height:12px;}
.inner .left .c .add{width:12px; height:12px; position:relative; top:10px}
.lb{display:none}
.ad:hover .lb{display:block; margin-top:10px; width:100px}
.inner .left .c .lb li{font-size:14px}
.inner .left .c .lb li a{color:#000; width:100%; margin:3px 0px}
.inner .left .b{margin-top:25px}
.inner .left .b p{font-size:14px}
.inner .left .b input{width:182px; height:22px; border-radius:4px; border:1px solid #258ec2; margin-top:15px}
.inner .left .b img{width:22px; height:20px; position:relative; right:40px; top:5px}
.center{width:619px; min-height:500px; float:left; background-color:#FFF; margin-left:55px; overflow:hidden}
.center .t{border-bottom:1px solid #bcbcbc; height:65px}
.center .t button{width:105px; height:39px; border-radius:4px; background-color:#58a9e8; border:none; margin-left:35px; margin-top:15px}
.center .t button a{color:#FFF; font-size:20px; width:100%; line-height:35px}
.center ul{margin-left:35px}
.center ul li{font-size:14px; margin-top:10px}
.center ul li a{color:#000}
.center ul li span{float:right; margin-right:10px}
.center .below{font-size:12px; text-align:center; margin-top:10px}
.center .below .nu{font-size:14px; color:#258ec2;}
.right{width:265px; min-height:337px; border:1px solid #cccccc; float:left; background-color:#FFF; margin-left:30px}
.right .top{border-bottom:1px solid #cccccc; height:65px; width:190px; margin:0 auto}
.right .top .n{font-size:14px; color:#333333}
.right .top span{position:relative; top:30px}
.right ul{width:190px; margin:0 auto; padding-bottom:10px; list-style:outside}
.right ul li{font-size:14px; margin-top:10px}