/* CSS Document */
*{padding:0; margin:0}
header{background-color:#363f48; width:100%; height:87px; overflow:hidden}
a{ text-decoration:none; display:inline-block;}
ul{list-style:none}
#logo{height:80px; width:8%;  float:left}
#logo img{width:73px; margin-top:5px; margin-left:20px; height:75px}
header ul{width:60%; float:left; height:38px; margin-top:25px}
header .text{width:23%; float:left; }
header ul li{display:inline-block; height:38px; }
header ul li a{color:#82878d; width:100%; line-height:38px; font-size:20px; text-align:center; padding:0 18px}
header ul li a:hover{background-color:#333333; color:#FFF}
header .text{padding-top:20px; float:right}
header .text input{height:33px; border:1px solid #009dda; width:250px; border-radius:4px}
header .text img{position:relative; top:12px; left:-50px; width:32px; height:32px}
header .dl{width:8%; float:left; height:80px; padding-top:8px; text-align:center; float:right}
.dl button{border-radius:50%; width:51px; height:51px}
.dl p{font-size:14px; color:#FFF}
#search{background-image:url(../img/bg.jpg); width:100%; height:50px; }
.below{height:50px; padding-left:430px;}
.below button{height:31px; border-radius:4px; border:none; margin-left:10px; margin-top:10px;background-color:#5e5e5e}
.below button a{padding:0 10px; font-size:5px; line-height:31px; color:#FFF}
.below button a:hover{background-color:#333333}
section{overflow:hidden}
.left{float:left; width:887px; background-color:#f2f2f2; }
.left .inner{width:92%; margin:0 auto;  min-height:500px;position:relative;}
.left .top{height:50px; border-bottom:2px solid #cccccc; width:100%}
.left .top p{font-size:16px; border-bottom:3px solid #057cce; width:36px; padding-bottom:8px; position:relative; top:25px; padding-left:5px}
.left ul{padding-bottom:50px}
.left ul li{background-color:#FFF; width:162px; height:157px; text-align:center; box-shadow: 10px 10px 5px #c1c1c1; position:relative; margin-top:40px; display:inline-block; margin-right:35px}
.left ul li img{width:144px; height:123px; margin-top:10px}
.left ul li .num{font-size:28px; position:relative; top:-30px; left:50px}
.left ul li .name{font-size:13px; position:absolute; bottom:0; color:#000; left:35px}
.ym{clear:both; position:absolute; bottom:10px; left:400px;}
.ym{font-size:12px}
.ym .num{font-size:14px; color:#52aae6}

.right{float:left; width:265px; height:337px; border:1px solid #cccccc; margin-top: 100px;margin-left: 50px; background-color:#FFF}
.right .inn{width:85%;margin:0 auto;}
.right .pic{height:40px}
.right .pic img{width:75px; height:75px; border-radius:50%; position:relative; top:-37px; left:7px}
.right .name{ border-bottom:1px solid #cccccc;  overflow:hidden; padding-bottom:20px}
.right .name h3{font-size:18px; float:left; margin-left:17px; margin-top:5px}
.right .name a{float:right;}
.right .inn p{margin-left:17px; margin-top:10px; font-size:14px}
.right ul{width:190px; margin:0 auto; padding-bottom:10px; list-style:outside;}
.right ul li{font-size:14px; margin-top:10px}
.right ul li a{color:#000}
footer{width:100%; height:100px; background-color:#363f48; text-align:center; color:#FFF; padding-top:50px}
footer p{font-size:12px}


